ErrorDocument 404 "Oops! Nada aqui. Tente voltar."
ErrorDocument 403 "Oops! Acesso negado. Tente voltar."
ErrorDocument 500 "Oops! Erro fatal no servidor. Se persistir, contate o administrador."
ErrorDocument 502 "Oops! Houve uma falha ocasional entre os servidores. Tente recarregar ou volte mais tarde."

# Blocks access to src/ content and .log files
RewriteEngine On
RewriteRule ^src/ - [F,L]

<FilesMatch "\.log$">
    Require all denied
</FilesMatch>

<FilesMatch "^\.ht">
    Require all denied
</FilesMatch>

# Gzip compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain text/html text/css
  AddOutputFilterByType DEFLATE application/xml application/json
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE font/ttf font/otf
</IfModule>

# Cache 1 month except php files
<IfModule mod_headers.c>
  Header set Cache-Control "max-age=2592000, must-revalidate"
  
  <FilesMatch "\.php$">
	Header set Cache-Control "no-store, no-cache, must-revalidate"
  </FilesMatch>
</IfModule>
