:root {
    --primaryColor: #c1a995;
    --primaryColorTransparent: #c1a995cc;
    --backgroundColor: #dddddd;
    --darkColor: #000000;
    --lightColor: #ffffff;
    --confirmColor: darkgreen;
    --confirmColorTransparent: #006400cc;
    --warnColor: darkgoldenrod;
    --destructiveColor: darkred;
    --transitionsDuration: 0.3s;
    --primaryFont: 'Funnel Sans'
}

/* BASE STYLES */

* {
    padding: 0;
    margin: 0;
}

@font-face {
	  font-family: 'Funnel Sans';
	  font-display: swap;
	  src: url('FunnelSans.ttf');
}

body {
	  font-family: var(--primaryFont), sans-serif;
	  display: flex;
	  justify-content: start;
	  align-items: center;
	  flex-direction: column;
	  gap: 0.5rem;
	  height: calc(100dvh - 1rem);
	  width: calc(100dvw - 1rem);
	  padding: 0.5rem;
	  overflow: auto;
	  background-color: var(--backgroundColor);
}

header {
	  width: 100%;
	  display: flex;
	  gap: 0.5rem;
	  flex-direction: row-reverse;
	  align-items: center;
	  justify-content: space-between;
}

nav {
	  z-index: 1;
	  position: fixed;
	  background-color: var(--primaryColor);
}

@media (max-width: 850px) {
	  nav {
        bottom: 1rem;
        background-color: var(--primaryColorTransparent);
	  }
}

@media (min-width: 851px) {
    nav {
      top: 0.5rem;
    }
}

input,
button,
svg,
nav,
select,
.notification {
	  font-family: var(--primaryFont), sans-serif;
	  font-size: 1rem;
	  border-radius: 0.5rem;
	  padding: 0.5rem;
}

a {
	  color: var(--darkColor);
	  text-decoration: none;
	  transition: var(--transitionsDuration);
}

a:hover {
	  text-decoration: underline;
}

form {
	  display: flex;
	  flex-direction: column;
	  gap: 0.5rem;
	  padding: 1rem;
	  border-radius: 1rem;
}

.customForm {
	  margin: 0.5rem;
	  background-color: var(--lightColor);
	  border: 2px solid var(--primaryColor);
}

.containerForm {
	  display: flex;
	  z-index: 2;
	  position: fixed;
	  top: 0;
	  align-items: start;
	  justify-content: center;
	  height: 100vh;
	  width: 100vw;
	  overflow: auto;
	  backdrop-filter: blur(2px);
	  animation: showUp var(--transitionsDuration) ease;
}

label {
	  font-weight: bold;
}

input, select {
	  box-sizing: border-box;
	  width: 100%;
	  border: 2px solid var(--primaryColor);
	  background-color: var(--lightColor);
}

button {
	  padding: 0.625rem;
	  color: var(--lightColor);
	  background-color: var(--confirmColor);
	  border: none;
	  transition: var(--transitionsDuration);
}

svg {
	  transition: var(--transitionsDuration);
}

button:hover,
#cancelUpdateStatusBtn:hover {
	  transform: translateY(-2px);
	  cursor: pointer;
}

button:active {
	  transform: scale(0.9) translateY(-2px);
}

table {
    width: 100vw;
    border-collapse: collapse;
    text-align: center;
}

thead {
    position: sticky;
    top: 0;
    background-color: var(--primaryColorTransparent);
}

th, td {
    padding: 0.25rem;
}

.tableResponsive {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    border: 2px solid var(--primaryColor);
    background-color: var(--lightColor);
    border-radius: 0.5rem;
    scroll-behavior: smooth;
}

#currentPage {
	  background-color: var(--confirmColor);
	  color: var(--lightColor);
	  padding: 0 0.25rem;
	  border-radius: 0.25rem;
}

.notification {
	  z-index: 2;
	  position: fixed;
	  top: -5rem;
	  color: var(--lightColor);
	  animation: notification 5s ease;
}

.successNotification {
    background-color: var(--confirmColor);
}

.failureNotification {
    background-color: var(--destructiveColor);
}

#formSair {
    padding: 0;
}

#botaoSair {
    background-color: var(--destructiveColor);
}

/* LOGIN */

#bodyLogin {
    justify-content: center;
}

#formLogin {
	  background-color: var(--lightColor);
	  width: 15rem;
}

/* BOTOES 1:1 */

.botaoAceitarProposta,
.botaoRecusarProposta,
.botaoExcluirProposta,
.botaoExcluirCliente,
.botaoMostrarAtualizarStatus,
.botaoAtualizarCliente,
.botaoVoltarEmAnalise,
#botaoPesquisa,
#botaoSair {
    align-self: center;
    font-size: 1.5rem;
	  font-weight: normal;
	  width: 2.5rem;
	  height: 2.5rem;
	  padding: 0;
}

/* CLIENTES */

#botaoCancelarCadastrarCliente,
.botaoExcluirCliente {
    background-color: var(--destructiveColor);
}

#botaoCancelarAtualizarCliente {
    text-align: center;
    text-decoration: none;
    padding: 0.625rem;
    border-radius: 0.5rem;
    color: var(--lightColor);
    background-color: var(--destructiveColor);
}

/* COMERCIAL */

.botaoRecusarProposta,
.botaoExcluirProposta,
#botaoCancelarCadastrarProposta {
	  background-color: var(--destructiveColor);
}

.botaoVoltarEmAnalise {
	  background-color: var(--warnColor);
}

#formCadastrarProposta, #formCadastrarCliente {
	  display: none;
}

/* FINANCEIRO */

#caixaPesquisa {
	  padding: 0;
	  flex-direction: row;
}

#botaoAtualizarStatusProposta {
	  color: var(--lightColor);
}

#botaoCancelarAtualizarStatusProposta {
	  text-align: center;
	  text-decoration: none;
	  padding: 0.625rem;
	  border-radius: 0.5rem;
	  color: var(--lightColor);
	  background-color: var(--destructiveColor);
}

/* STATUS PROPOSTA */

.recebido,
.aceita,
.recusada,
.emAnalise,
.aguardando {
    color: var(--lightColor);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-wrap: nowrap;
}

.recebido,
.aceita {
    background-color: var(--confirmColor);
}

.recusada {
    background-color: var(--destructiveColor);
}

.emAnalise,
.aguardando {
    background-color: var(--warnColor);
}

/* ANIMATIONS */

@keyframes notification {
    10% {
        top: 3rem;
    }

    90% {
        top: 3rem;
    }

    100% {
        top: -5rem;
    }
}

@keyframes showUp {
    0% {
        scale: 0.9;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}
